@model Business.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href="~/Content/products-content/product-page.css" rel="stylesheet" />

@using (Html.BeginForm("Add", "Carts", null, FormMethod.Post, null))
{
<div class="mt-lg-5">
    <h4 class="text-center">Product Details</h4>
</div>

    <div class="container mt-lg-5">
        <div>
            <div class="row">
                <aside class="col-sm-5  p-5">
                    <article class="gallery-wrap">
                        <div class="img-small-wrap pb-3">
                            @if (Model.Product.productImages.Count != 0)
                            {
                                <div class="primary-img zoom">
                                    <a href="#">
                                        <img src="@Model.PrimaryProduct_Image.ConvertedProductImage">
                                        @Html.HiddenFor(modelItem => Model.PrimaryProduct_Image.ConvertedProductImage)
                                        @Html.HiddenFor(modelItem => Model.PrimaryProduct_Image.Image_Id)
                                        @Html.HiddenFor(modelItem => Model.PrimaryProduct_Image.Product_Id)
                                        @Html.HiddenFor(modelItem => Model.PrimaryProduct_Image.Image)
                                    </a>
                                </div>
                            }
                        </div> <!-- slider-product.// -->
                        <div class="img-small-wrap">
                            @* Loop images per product *@
                            @if (Model.Product.productImages.Count != 0)
                            {
                                foreach (var image in Model.Product.productImages)
                                {
                                    <div class="item-gallery">

                                        <img src="@image.ConvertedProductImage" id="myImg"  class="frame" />
                                        @Html.HiddenFor(Model => image.ConvertedProductImage)
                                    </div>
                                }
                            }
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3 font-weight-bold">@Html.DisplayFor(Model => Model.Product.Product_Name)</h3>
                        @Html.HiddenFor(Model => Model.Product.Product_Name)
                        <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="currency">US</span><span class="num">
                                    @Html.DisplayFor(Model => Model.Product.Price)
                                    @Html.HiddenFor(Model => Model.Product.Price)
                                </span>
                            </span>
                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd>
                                <p>
                                    @Html.DisplayFor(Model => Model.Product.Description)
                                    @Html.HiddenFor(Model => Model.Product.Description)
                                    @Html.HiddenFor(Model => Model.Product.Product_Id)
                                    @Html.HiddenFor(Model => Model.Product.Date_Added)
                                    @Html.HiddenFor(Model => Model.Product.Subcategory_Id)
                                    @Html.HiddenFor(Model => Model.Product.Category_Id)
                                </p>
                            </dd>
                        </dl>
                        <dl class="param param-feature">
                            @*<dt>Model#</dt>
                                <dd>12345611</dd>*@
                        </dl>  <!-- item-property-hor .// -->
                        @*<dl class="param param-feature">
                            <dt>Color</dt>
                            <dd>Black and white</dd>
                        </dl>*@  <!-- item-property-hor .// -->
                        <dl class="param param-feature">
                            <dt>Delivery</dt>
                            <dd>Russia, USA, and Europe</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Quantity: </dt>
                                    <dd>
                                        @Html.TextBoxFor(modelItem => Model.Product.QuantityPerUnit, new { @style = "width: 50px", @class = "form-control", name = "Quantity" })
                                        @Html.HiddenFor(modelItem => Model.Product.QuantityPerUnit)
                                        @*<select class="form-control form-control-sm" style="width:70px;">
                                                <option> 1 </option>
                                                <option> 2 </option>
                                                <option> 3 </option>
                                            </select>*@
                                    </dd>
                                </dl>  <!-- item-property .// -->
                            </div> <!-- col.// -->
                            <div class="col-sm-7">
                                @*<dl class="param param-inline">
                                    <dt>Size: </dt>
                                    <dd>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <span class="form-check-label">SM</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <span class="form-check-label">MD</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <span class="form-check-label">XXL</span>
                                        </label>
                                    </dd>
                                </dl>*@  <!-- item-property .// -->
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr>
                        <div class="row">
                            <a href="#" class="col btn btn-lg btn-primary text-uppercase  mr-1"> Buy now </a>
                            <input type="submit" name="btn" value="Add to Cart" class="col btn btn-lg btn-outline-primary text-uppercase" />
                        </div>

                    </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->

    </div>
    <!--container.//-->
}
<br><br><br>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Product.Product_Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="~/Scripts/zoom-in.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="~/Scripts/admin-dashboard.js"></script>