@model Business.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/products-content/product-page.css" rel="stylesheet" />
<br style="clear:both" />
<body>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/watch1.png" alt="Los Angeles" class="carousel-img">
            </div>
            <div class="carousel-item">
                <img src="~/Images/watch2.png" alt="Chicago" class="carousel-img">
            </div>
            <div class="carousel-item">
                <img src="~/Images/Watch3.png" alt="New York" class="carousel-img">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev text-black-50" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next text-black-50" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="container">
        <div>
            <div class="row p-5">
                @foreach (var item in Model.productList)
                {
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <a href="@Url.Action("Details", "Products", new { id = item.Product_Id})">
                            <div class="row img-part text-center">
                                <div class="m-auto product-box">
                                    @if (item.productImages.Count != 0)
                                    {
                                        foreach (var image in item.productImages.Select((value, i) => new { i, value }))
                                        {
                                            var index = image.i;
                                            if (index == 0)
                                            {
                                                <img src="@image.value.ConvertedProductImage" style="max-width: 150px; max-height: 200px;display: inline-block;" id="myImg" class="pt-4 pb-4"/>
                                            }
                                        }
                                    }
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 image-title  font-weight-bold">
                                    <span>@Html.DisplayFor(model => item.Product_Name)</span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 image-description font-weight-bold">
                                    <p>@Html.DisplayFor(model => item.Price)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories.Category_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategories.Subcategory_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Added)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Removed)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Category_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategories.Subcategory_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Added)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Removed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Product_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Product_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Product_Id })
            </td>
        </tr>
    }

    </table>*@
