@model Business.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Index";
}
<head>

</head>
<h2>All Products</h2>

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add product", "Create", null, new { @class = "btn btn-info col-md-2 mb-1" })
}
<br style="clear:both" />
<body>
    <div class="container">
        <div class="row">
            <div class="row">
                @foreach (var item in Model.productList)
                {
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <a href="@Url.Action("Details", "Products", new { id = item.Product_Id})">
                            <div class="row img-part">
                                <div class="">
                                    @if (item.productImages.Count != 0)
                                    {
                                        foreach (var image in item.productImages.Select((value, i) => new { i, value }))
                                        {
                                            var index = image.i;
                                            if (index == 0)
                                            {
                                                <img src="@image.value.ConvertedProductImage" style="max-width: 150px; max-height: 200px;display: inline-block;" id="myImg" />
                                            }
                                        }
                                    }
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                    <h3>@Html.DisplayFor(model => item.Product_Name)</h3>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                    <p>@Html.DisplayFor(model => item.Price)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories.Category_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategories.Subcategory_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Added)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Removed)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Category_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategories.Subcategory_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Added)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Removed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Product_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Product_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Product_Id })
            </td>
        </tr>
    }

    </table>*@
