@model Business.ViewModels.CartViewModel

@{
    ViewBag.Title = "Index";
}



<link href="~/Content/products-content/cart-page.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
    <div class="">
        <br />
        <h2 class="text-center"><span>Your cart</span></h2><br />
        <div class="table-responsive">
            <table class="">
                <thead class="pb-5">
                    <tr>
                        <th width="65%">@Html.DisplayNameFor(Model => Model.Cart.Product_Name)</th>
                        <th width="15%">@Html.DisplayNameFor(Model => Model.Cart.UnitPrice)</th>
                        <th width="15%">@Html.DisplayNameFor(Model => Model.Cart.Quantity)</th>
                        <th width="15%" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody class="mt-lg-5">
                    @foreach (var item in Model.CartProducts)
                    {

                        <tr>
                            <td class="pt-5">
                                <figure class="media">
                                    <div class="img-wrap">
                                        @if (item.Product.productImages.Count != 0)
                                        {
                                            foreach (var image in item.Product.productImages.Select((value, i) => new { i, value }))
                                            {
                                                var index = image.i;
                                                if (index == 0)
                                                {
                                                    <img src="@image.value.ConvertedProductImage" style="max-width: 150px; max-height: 200px;display: inline-block;" id="myImg" />
                                                }
                                            }
                                        }
                                    </div>
                                    <figcaption class="media-body">
                                        <h6 class="title text-truncate">@Html.DisplayFor(modelItem => item.Product_Name)</h6>
                                        <dl class="param param-inline small">
                                            <dt>Size: </dt>
                                            <dd>XXL</dd>
                                        </dl>
                                        <dl class="param param-inline small">
                                            <dt>Color: </dt>
                                            <dd>Orange color</dd>
                                        </dl>
                                        @using (Html.BeginForm("Remove", "Carts", new { id = item.Cart_Id }, FormMethod.Post, null))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Remove" class="btn btn-light" />
                                        }
                                    </figcaption>
                                </figure>
                            </td>
                            @using (Html.BeginForm("Update", "Carts", new { id = item.Cart_Id }, FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">$@Html.DisplayFor(modelItem => item.UnitPrice)</var>
                                        <small class="text-muted">($@Html.DisplayFor(modelItem => item.UnitPrice) each)</small>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td>
                                    @Html.TextBoxFor(modelItem => item.Quantity, new { @style = "width: 50px", @class = "form-control", name = "Quantity" })
                                </td>
                                <td class="text-right">
                                    @*<a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>*@
                                    @Html.HiddenFor(modelItem => item.Quantity)
                                    <input type="submit" value="Update" class="btn btn-default" />
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div> <!-- card.// -->
</div>
<!--container end.//-->
<br><br>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h3 class="text-white mt-3">Bootstrap 4 UI KIT</h3>
        <p class="h5 text-white">
            Components and templates  <br> for Ecommerce, marketplace, booking websites
            and product landing pages
        </p>   <br>
        <p>
            <a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/">
                Bootstrap-ecommerce.com
                <i class="fa fa-window-restore "></i>
            </a>
        </p>
    </div>
    <br><br>
</article>
