@model MiniStore.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container-fluid mt-lg-5 mb-lg-5">
    <h3 class="text-center mb-lg-4">My Account</h3>
    <h6 class="text-center"><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></h6>
    <div class="row mt-lg-5">
        <div class="col  col-md-8">
            <h4>Order History</h4>
            <div>
                <table class="table table-borderless table-responsive-lg">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => Model.Order.Order_Id)</th>
                            <th>@Html.DisplayNameFor(model => Model.Order.Order_Date)</th>
                            <th>@Html.DisplayNameFor(model => Model.Order.Customer.FullName)</th>
                            <th>@Html.DisplayNameFor(model => Model.Order.Payment_Status)</th>
                            <th>@Html.DisplayNameFor(model => Model.Order.Order_Value)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Orders)
                        {
                            <tr class="text-dark">
                                <td>#@Html.DisplayFor(modelItem => item.Order_Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Order_Date)</td>
                                <td>@Html.DisplayFor(modelItem => item.Customer.FullName)</td>
                                @{
                                    var paid = (item.Payment_Status > 0) ? "Paid" : "Unpaid";
                                }
                                <td>@paid</td>
                                <td>$@Html.DisplayFor(modelItem => item.Order_Value)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <h4>Account Details</h4>
            <div class="text-dark border p-3 mt-5">
                <p>@Model.CustomerAccountInfo.FullName</p>
                <p>@Model.CustomerAccountInfo.Address</p>
            </div>
        </div>
    </div>

</div>
